@font-face {
  font-family: "Mortise";
  src: url("/fonts/Mortise-Bold.otf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Mortise";
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #fff;
}

#eCommerceProject {
  width: 1440px;
  border: 1px solid black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 20px;
}
#eCommerceProject #content_wrapper {
  display: flex;
}
#eCommerceProject #header {
  height: 102px;
  background: #FFE475;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
#eCommerceProject #header .header_title {
  font-size: 30px;
  color: #100E3A;
}
#eCommerceProject #header .header_box {
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 77px;
  height: 34px;
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px, 3px rgba(0, 0, 0, 0.16);
}
#eCommerceProject #eCommerceNavbar .navbar_list {
  list-style: none;
  margin: 20px;
  padding: 0;
  width: 246px;
  box-shadow: 1px 0px 1px rgba(51, 51, 51, 0.2);
}
#eCommerceProject #eCommerceNavbar .navbar_list li {
  height: 42px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
#eCommerceProject #eCommerceNavbar .navbar_list li .btn_tab {
  height: inherit;
  width: 100%;
  background: transparent;
  border: none;
  text-align: start;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
#eCommerceProject #eCommerceNavbar .navbar_list li .btn_tab.btn_active {
  background: #5DA9E9;
  color: #fff;
}
#eCommerceProject #EccomerceMenu {
  flex-grow: 1;
  min-height: 700px;
}
#eCommerceProject #EccomerceMenu .ProductList {
  padding: 10px 38px;
}
#eCommerceProject #EccomerceMenu .ProductList .product_title {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 0;
}
#eCommerceProject #EccomerceMenu .ProductList .product_title img {
  vertical-align: middle;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductCard {
  max-width: 140px;
  padding: 10px;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductCard .product_card_header {
  position: relative;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductCard .product_card_header .product_card_btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductCard .product_card_body > strong {
  display: block;
  margin-bottom: 10px;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductCard .product_card_body > strong.product_price {
  display: flex;
  font-size: 20px;
  color: #100E3A;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductCard .product_card_body > strong.product_name {
  font-size: 16px;
  color: #100E3A;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductCard .product_card_body > strong.product_weight {
  font-size: 16px;
  color: #B6BAC3;
}
#eCommerceProject #EccomerceMenu .ProductList .ProductSlider {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 20px;
}
#eCommerceProject .font_sm {
  font-size: 12px;
}/*# sourceMappingURL=globals.css.map */