* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #fff;
}

#eCommerceProject {
  width: 1440px;
  height: 1024px;
  border: 1px solid black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 20px;
  .header{
    
  }
}